<nav>

	<div class="toggle-menu">

	    <div id="icon">
	        <div class="one"></div>
	        <div class="two"></div>
	        <div class="three"></div>
	    </div>

	    <div id="menu">
	        <ul>
				<li>
					<a href="https://mitchtreece.io/about"><span><i class="fas fa-user"></i></span> About</a>
				</li>
				<li>
					<a href="https://mitchtreece.io"><span><i class="fas fa-comment"></i></span> Blog</a>
				</li>
				<li>
					<a href="https://mitchtreece.io/projects"><span><i class="fas fa-code"></i></span> Projects</a>
				</li>
	            <li>
					<a href="https://twitter.com/mitchtreece"><span><i class="fa fa-twitter"></i></span> Twitter</a>
	            </li>
	            <li>
					<a href="https://github.com/mitchtreece"><span><i class="fa fa-github"></i></span> Github</a>
	            </li>
	        </ul>
	    </div>

	 </div>

</nav>
