<nav>

	<div class="toggle-menu">

	    <div id="icon">
	        <div class="one"></div>
	        <div class="two"></div>
	        <div class="three"></div>
	    </div>

	    <div id="menu">
	        <ul>
				<li>
					<a href="https://mitchtreece.io/about">About</a>
				</li>
				<li>
					<a href="https://mitchtreece.io">Blog</a>
				</li>
				<li>
					<a href="https://mitchtreece.io/projects">Projects</a>
				</li>
	            <li>
					<a href="https://twitter.com/mitchtreece">Twitter</a>
	            </li>
	            <li>
					<a href="https://github.com/mitchtreece">Github</a>
	            </li>
	        </ul>
	    </div>

	 </div>

</nav>
